:root {
  /* colors */
  --primary-500: #049456;
  /* grey */
  --grey-500: black;
}
.logo {
  position: absolute;
  width: 100px;
  height: 35px;
  left: 110px;
  top: 15px;
}
.container-navbar {
  padding-left: 150px;
}
.link {
  font-weight: 500;
  text-decoration: none;
  padding-right: 30px;
  padding-top: 15px;
  color: var(--grey-500);
}

.active {
  color: #8c30f5;
  padding-top: 15px;
}
.link:hover {
  color: #8c30f5;
}
.botonI {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  width: 175px;
  height: 48px;
  background: #8c30f5;
  border-radius: 6px;
  color: #ffff;
  margin-top: -12px;
  text-decoration: none;
  font-weight: 500;
}
.botonI:hover {
  color: #ffff;
}
.letras {
  font-weight: 500;
}
.botonR {
  background-color: #f1e4ff;
  color: #8c30f5;
  border-radius: 6px;
  padding: 12px 32px;
  margin-top: -12px;
  text-decoration: none;
  font-weight: 500;
}
.botonR:hover {
  color: #8c30f5;
}
.containtModal {
  padding-top: 15px;
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
  .containtModal {
    padding-left: 0;
  }
  .logo {
    margin-left: -70px;
  }
}
