.btn-success {
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8c30f5;
  --bs-btn-hover-border-color: #8c30f5;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8c30f5;
  --bs-btn-active-border-color: none;
  --bs-btn-bg: #8c30f5;
}
